*{
  margin: 0;
  padding: 0;
}

.logo{
  animation: logo 10s linear alternate infinite ;
  width: 100px;
}

@keyframes logo{
  0%{
    transform: rotateY(0deg);
  }
  10%{
    transform: rotateY(50deg);
  }
  30%{
    transform: rotateY(100deg);
  }
   50% {
    transform: rotateY(150deg);
  }
  70% {
    transform: rotateY(200deg);
  }
  80% {
    transform: rotateY(250deg);
  }
  90% {
    transform: rotateY(300deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.card2{

  border: solid black;
  position: relative;
  left: 5%;
  width: 20%;
  margin-top: 10px;
}
.card2 img{
     display: flex;
  width: 250px;
  height: 200px;
  text-align: center;
  transition: transform 1s ease-in;
  &:hover {
    transform: scale(110%);
  }
  height: 
  500px;
  width: 100%;
}

.card{
  position: relative;
  left: 5%;
  width: 90%;
  margin-top: 10px;
}
.card img{
  width: 100%;
  height: 500px;
}
